* {
  box-sizing: border-box;
}
body{
 background-image: url("images/bgimg.png");
  font-family: El Messiri;
}
.columns {
  width:800px;
  padding: 8px;
  background: white;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6);
}

.price .header {
  background-color: black;
  color: white;
  text-align: center;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  font-size: 20px;
  
 
}

.price .grey {
  background-color: #eee;
  font-size: 25px;
  
  text-align: center;


}
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
h1{
  text-align: center;
}
.btn{
  text-align: center;
  
margin-top: 10px;
}
.cancel li{
  text-align: center;
}
.container{
  margin-top: 50px;
   margin-bottom: 50px;
  margin-left: 400px;
}